<div class="container align-items-center mt-3">
  <form action="/answer" data-turbo="false">
    <label for="question" class="form-label mb-0">Speak to your coach</label>
    <input type="text" class="form-control" id="question" name="question" placeholder="Input question here...">
    <input type="submit" class="btn btn-primary mt-1" value="Ask!">
  </form>
</div>
